bin
cleanmeout
lib
share
mongodb
include
.*pyc
static/cache
static/thumbs
db
temp/tesseract.log
tornado-0.2
dnsimple.pyc
fourchan.pyc
pifilter.pyc
tests/test_imeveryone.pyc
tests/test_postprocessor.pyc
usermessages.pyc
database.pyc
static/fonts/webfontkit-20100620-144223/demo.html
static/fonts/webfontkit-20100620-144223/stylesheet.css
static/images/btn-pick-file.pxm
.coverage
tests/.coverage
static/ixedit
quickdb.pyc
advertising.pyc
rest.pyc
static/fonttest.html