/* Do not use IE local bug workaround and this triggers a bug in IE */

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('/static/fonts/League_Gothic-webfont.woff') format('woff'), 
	    url('/static/fonts/League_Gothic-webfont.ttf') format('truetype'), 
	    url('/static/fonts/League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BellMTRegular';
	src: url('/static/fonts/bell-webfont.woff') format('woff'), 
	    url('/static/fonts/bell-webfont.ttf') format('truetype'), 
	    url('/static/fonts/bell-webfont.svg#webfontmTxiHCFn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BellMTItalic';
	src: url('/static/fonts/belli-webfont.woff') format('woff'), 
	    url('/static/fonts/belli-webfont.ttf') format('truetype'), 
	    url('/static/fonts/belli-webfont.svg#webfontz7ERnx9k') format('svg');
	font-weight: normal;
	font-style: normal;
}