{% extends "base.html" %}

{% block mainarea %}

	<div id="content">
		<!-- main-block -->		
		<div class='about'>
			<div class="features">
				<div class="featurebox">
					<p class="dropcap info">There are no logins. Just post or reply. You'll get an animal to use in that thread that's unique to you.</p>
				</div>

				<div class="featurebox">
					<p class="dropcap info">Conversely, all replies from other people with the <span class="important">same animal are from the <span class="important">same</span> person.</p>
				</div>

				<div class="featurebox">
					<p class="dropcap info">Posts bubble to the top via <span class="important">interaction</span> and <span class="important">time</span>. </p>
				</div>

				<div class="featurebox">
				<p class="dropcap info">The 'live' view updates in <span class="important">realtime</span>. You can sit there and see every new post <span class="important">immediately</span>, no reloading required.</p>
				</div>

				<div class="featurebox">
					<p class="dropcap info"><span class="important">Tasteful</span> nudity is fine. Please don't upload porn: there are other, better places for that.</p>
				</div>						

				<div class="featurebox">
					<p class="dropcap info">Clear your cookies, and all is <span class="important">forgotten</span>.</p>
				</div>

			</div>
			
			<div id="aboutupdates" style="width: 450px; line-height: 1.5em; margin: auto;">
				<em>
					<p>
					Hi there, and thanks for visiting! The site's only a week old, and we've already had 10,901 unique visitors, 1086 pieces of content from military girlfriends, lovers, colleagues, the triumphant and the down-and-out. We really appreciate the smart, thoughtful and original content. </p>
			
					<p>We've got more features to announce this week: the I'm Everyone Store, a place full of delightful things to explore yourself and the world around you. </p> 

					<h3>Contact</h3>	
						
					<p>You can contact us via:	</p>
					<ul>	
						<li><p>If you'd like to contact us, write about I'm Everyone, or suggest a feature, email: staff@imeveryone.com</p></li>
						<li>Twitter: <a href="http://twitter.com/#!/imeveryone_real">imeveryone_real</a></li>		
					</ul>	
			
					<p>Thanks.</p>
			
					<p>I'm Everyone</p>
				</em>	

				<img src="/static/images/flourish.png"/>
			</div>
		</div>
		<!-- block -->
	</div>

	
{% end %}	