{% extends "base.html" %}

{% block mainarea %}

	<div id="content">
		<!-- main-block -->		
		<div class='about'>
			<div class="features">
				<div class="featurebox">
					<p class="dropcap info">There are no logins. Just post or reply. You'll get an animal to use in that thread that's unique to you.</p>
				</div>

				<div class="featurebox">
					<p class="dropcap info">Conversely, all replies from other people with the <span class="important">same animal</span> are from the <span class="important">same person</span>.</p>
				</div>

				<div class="featurebox">
					<p class="dropcap info">Posts bubble to the top via <span class="important">interaction</span> and <span class="important">time</span>. </p>
				</div>

				<div class="featurebox">
				<p class="dropcap info">The 'live' view updates in <span class="important">realtime</span>. You can sit there and see every new post <span class="important">immediately</span>, no reloading required.</p>
				</div>

				<div class="featurebox">
					<p class="dropcap info">Keep it <span class="important">tasteful</span>. Please don't upload porn: there are other, better places for that.</p>
				</div>						

				<div class="featurebox">
					<p class="dropcap info">Clear your cookies, and all is <span class="important">forgotten</span>.</p>
				</div>

			</div>
			
			<div id="aboutupdates" style="width: 450px; line-height: 1.5em; margin: auto;">
				<div class="contactbox floatleft" style="width: 47%;">					
					<div class="smallcaps ribbonarea">
						<div class="ribbonback ribbonbackleft floatleft"></div>
						<div class="ribbonback ribbonbackright floatright"></div>
						<div class="ribbontitle blockshadow clearboth">
							<div class="ribbontitletext">Twitter</div>
						</div>
					</div>						
					<p class="lefttext">For updates on selected problems and confessions, check out <strong><a href="http://twitter.com/#!/imeveryone_real">imeveryone_real</a></strong> on Twitter</p>
				</div>
				
				<div class="contactbox floatright" style="width: 47%;">
					<div class="smallcaps ribbonarea">
						<div class="ribbonback ribbonbackleft floatleft"></div>
						<div class="ribbonback ribbonbackright floatright"></div>
						<div class="ribbontitle blockshadow clearboth">
							<div class="ribbontitletext">Email</div>
						</div>
					</div>
					<p class="lefttext">If you'd like to contact us, write about I'm Everyone, or request permission to reprint, email: <strong>staff@imeveryone.com</strong></p>
				</div>				
				
				
				<em>
					<p class="clearboth">
			
					<p>Thanks.</p>
			
					<p>I'm Everyone</p>
				</em>	

				<img src="/static/images/flourish.png"/>
			</div>
		</div>
		<!-- block -->
	</div>

	
{% end %}	