{% extends "base.html" %}

{% block mainarea %}

	<div id="content">
		<!-- main-block -->		
		<div class='about'>
			<div class='smallcaps'>		
				<p>Here's how it works.</p>
			</div>
			<div class="features">
				<div class="featurebox">
					<p class="dropcap">There are no logins. Just post.</p>
				</div>

				<div class="featurebox">
					<p class="dropcap">Each person in a thread has an animal. All replies from a given animal are from the same person.</p>
				</div>

				<div class="featurebox">
					<p class="dropcap">Nudity is fine. Please don't upload porn: there are other, better places for that.</p>
				</div>
				
				<div class="featurebox">
					<p class="dropcap">Posts bubble to the top via interaction and time. </p>
				</div>							

				<div class="featurebox">
				<p class="dropcap">The 'live' view updates in realtime. </p>
				</div>

				<div class="featurebox">
					<p class="dropcap">Clear your cookies, and all is forgotten.</p>
				</div>

			</div>
			
			<em>
				<p>
				Hi there, and thanks for visiting! We originally pre-launched this site to a select audience at <a href="http://news.ycombinator.com">Hacker News</a>, getting feedback on a work in progress. What we didn't expect is the amount of interest it would gather, particularly being tweeted by someone with 300,000 followers. Oops.</p>
			
				<p>We'd like to be honest here and point out that the site is still a <strong>work in progress</strong>. That said, we add new features every day. We already have videos, the live feed, and interaction-based ranking. Today we pushed an update to help <strong>newer posts make the frontpage more easily</strong>, added <strong>five pages of top content</strong> and what should hopefully fix a problem where avatars get re-used inside discussions. If you'd like a feature, just post it - we read each and every one. As for the bugs, we're working as hard as we can.</p>	
				
				<p>
				One thing I really appreciate about the early users is the smart, thoughtful and original content. Make it interesting: an <strong>insight into your mind</strong>, something that <strong>makes you think</strong>, or something <strong>beautiful</strong>. Cheers guys. Stay awesome. 
				</p>		
			
				<p>Thanks.</p>
			
				<p>I'm Everyone</p>
			</em>	

			<img src="/static/images/flourish.png"/>
		</div>
		<!-- block -->
	</div>

	
{% end %}	