{% extends "baseadmin.html" %}

{% block description %}
	Admin
{% end %}

{% block title %}
	Admin
{% end %}

{% block nav %}
	<a href='/admin'>Admin</a> > Content
{% end %}

{% block actions %}
	<a href='/admin/newcontent'>+ Add new content...</a>
{% end %}

{% block messages %}
	<p>
		Welcome {{ name }}	
	</p>
{% end %}

{% block heading %}
	<h1>
		All Content
	</h1>		
{% end %}


{% block mainarea %}

	{% for message in messages %}
	
		<div class='posttitle'>
			<div class='nav'>
				<h2>{{ message['_id']}}</h2>
			</div>
			<div class='postactions'>
				<a href='/admin/content/{{ message['_id'] }}'>Edit...</a>
			</div>
			<div class='postactions'>	
				<a href='/admin/content/{{ message['_id'] }}' class="delete">Delete...</a>
			</div>
		</div>	
		<hr />
		<p>				
			<table>
			{% for property in ['author','posttext'] %}
				<tr>
					<td>
						<small>{{ property.title() }}</small>
					</td>
					<td>
						<p>
							{{message[property]}} 
						</p>
					</td>
				</tr>
			{% end %}
			{% for property in ['ip','useragent'] %}
				<tr>
					<td>
						<small>{{ property.title() }}</small>
					</td>
					<td>{{ message[property] }}</td>
				</tr>
			{% end %}
			</table>
		</p>
	{% end %}	

{% end %}
