<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ pagetitle }}</title>
	<meta name="Description" content="{% block description %}I'm Everyone. Realtime, anonymous.{% end %}">
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/opacity.css") }}" />
	<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="{{ static_url("css/lt8.css") }}" media="screen"/><![endif]-->
	{% block css %}
	{% end %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" ></script>	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" ></script>
	{% block js %}
	{% end %}
	<script type="text/javascript" src="{{ static_url("js/input-type-file.js") }}" ></script>
	<script type="text/javascript" src="{{ static_url("js/hyphenate.js") }}" ></script>
	<script type="text/javascript">
	            Hyphenator.run();
	</script>
	<script type="text/javascript">
	var RecaptchaOptions = {
		theme : 'custom',
    	custom_theme_widget: 'recaptcha_widget',
		tabindex : 2
	};
	</script>
	<script type="text/javascript">
		$(document).ready(function() {	
			$('#somethingtosay').submit(function() {
				ajaxloader = $('<div id="addingpost"><h2>Adding your post...</h2><img alt="Loading icon" src="/static/images/ajax-loader.gif"><div class="smallcaps"><p>One moment please</p></div></div>').hide();
				ajaxloader.appendTo("#sidebarcontents").slideDown();
			});	
		});
	</script>
</head>

<body>
	<div id="wrapper">
		<div class="inner">
			<!-- header -->
			<div id="header">
				<!-- alerts if any -->
				<div alerts>
					{% if len(alerts) %}
						<div id='alerts'>
							<p>{{ alerts[0] }}</p>
						</div>	
					{% end %}
				</div>	
				<h1><a href="/">I'm Everyone</a></h1>				
			</div>

			
			<!-- main -->
			<div id="main">
				
				<div class="about subtitle smallcaps"><img src="/static/images/littleline.png" />{{ heading }}<img src="/static/images/littleline.png" /></div>
				
				<!-- navigation -->
				<ul id="nav" class="smallcaps">
					<li><a href="/">Live</a></li>
					<li><a href="/top">Top</a></li>
					<li><a href="/about">About</a></li>
				</ul>
				
				<div class="twocolumns">
					<!-- content -->					
					{% block mainarea %}
						Default mainarea
					{% end %}
					<!-- sidebar -->
					{% if sidebar %}
						{% include 'submitcontent.html' %}
					{% end %}	
				</div>
			</div>
			<!-- footer -->
			<div id="footer">
				<p>(C) 2010 I'm Everyone. </p>
			</div>
		</div>
	</div>
	{% block endofbody %}
	{% end %}
</body>
</html>
