<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ pagetitle }}</title>
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/all.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/opacity.css") }}" />
	<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="{{ static_url("css/lt8.css") }}" media="screen"/><![endif]-->
	{% block css %}
	{% end %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" ></script>	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" ></script>
	{% block js %}
	{% end %}
	<script type="text/javascript" src="{{ static_url("js/input-type-file.js") }}" ></script>
	<script>
	var RecaptchaOptions = {
		theme : 'custom',
    	custom_theme_widget: 'recaptcha_widget',
		tabindex : 2
	};
	</script>
</head>

<body>
	<div id="wrapper">
		<div class="inner">
			<!-- header -->
			<div id="header">
				<h1><a href="/">I'm Everyone</a></h1>
				<strong class="subtitle">{{ heading }}</strong>
			</div>
			<!-- main -->
			<div id="main">
				<div class="twocolumns">
					<!-- content -->
					<div id="content">
						<!-- navigation -->
						<ul id="nav">
							<li><a href="/">LIVE</a></li>
							<li><a href="/top">TOP</a></li>
							<li><a href="/about">ABOUT</a></li>
						</ul>
						<!-- main-block -->
						
						<div id="messages">
							{% block mainarea %}
								Default mainarea
							{% end %}
						</div>
						<!-- block -->
					</div>
					<!-- sidebar -->
					{% include 'sidebarrules.html' %}
				</div>
			</div>
			<!-- footer -->
			<div id="footer">
				<p>(C) 2010 I'm Everyone. </p>
			</div>
		</div>
	</div>
	{% block endofbody %}
	{% end %}
</body>
</html>
