<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ pagetitle }}</title>
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/all.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/opacity.css") }}" />
	<!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="{{ static_url("css/lt8.css") }}" media="screen"/><![endif]-->
	{% block css %}
	{% end %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" ></script>	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" ></script>
	{% block js %}
	{% end %}
	<script type="text/javascript" src="{{ static_url("js/input-type-file.js") }}" ></script>
	<script>
	var RecaptchaOptions = {
		theme : 'custom',
    	custom_theme_widget: 'recaptcha_widget',
		tabindex : 2
	};
	</script>
</head>

<body>
	<div id="wrapper">
		<div class="inner">
			<!-- header -->
			<div id="header">
				<h1><a href="/">I'm Everyone</a></h1>
				<strong class="subtitle">{{ heading }}</strong>
			</div>
			<!-- main -->
			<div id="main">
				<div class="twocolumns">
					<!-- content -->
					<div id="content">
						<!-- navigation -->
						<ul id="nav">
							<li><a href="/">LIVE</a></li>
							<li><a href="/top">TOP</a></li>
							<li><a href="/about">ABOUT</a></li>
						</ul>
						<!-- main-block -->
						
						<div id="messages">
							{% block mainarea %}
								Default mainarea
							{% end %}
						</div>
						<!-- block -->
					</div>
					<!-- sidebar -->
					<div id="sidebar">
						<h3>{{ prompt1 }}<span>{{ prompt2 }}</span></h3>
						<!-- form form-write-us -->
						<form enctype='multipart/form-data' method='post' action='/a/message/new' class="form-write-us">
							<fieldset>
								<ul>
									<li>
										<label for="textarea">1. Write it here</label>
										<div class="container">
											<div class="text-field">
												<textarea id="textarea"  name='posttext' cols="20" rows="10"></textarea>
											</div>
										</div>
									</li>
									<li>
										<div class="file">
											<span class="num">2.</span>
											<div class="submit">
												<a href="#" class="button">Pick File</a>
												<input class="file-input-area" name='image' type="file" size="19" value="Browse..." />
											</div>
											<input type="text" value="" class="browse" />
										</div>
										<span class="info">Or include a video link in your text above</span>
									</li>
									<li>
										<!-- start captcha code -->
										<div id="recaptcha_widget" style="display:none">
											<label for="input-text">
												<span class="recaptcha_only_if_image">3. Type these words</span>
												<span class="recaptcha_only_if_audio">3. Type the numbers you hear</span>
											</label>
											<div id="recaptcha_indent">
												<div id="recaptcha_image"></div>
												<div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
												
												<div id="captchabuttons">
													<div>
														<a href="javascript:Recaptcha.reload()">
															<img src="/static/images/recreload.gif" alt="Get another CAPTCHA"/>
														</a>
													</div>
												
													<div class="recaptcha_only_if_image">
														<a href="javascript:Recaptcha.switch_type('audio')">
															<img src="/static/images/recaudio.gif" alt="Get an audio CAPTCHA"/>
														</a>
													</div>
													<div class="recaptcha_only_if_audio">
														<a href="javascript:Recaptcha.switch_type('image')">
															<img src="/static/images/rectext.gif" alt="Get an image CAPTCHA"/>
														</a>
													</div>
													<div>
														<a href="javascript:Recaptcha.showhelp()">
															<img src="/static/images/rechelp.gif" alt="Help"/>
														</a>
													</div>
												</div>
												
												<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
											</div>
										</div>
										<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LeDDLsSAAAAAEd_PN6diNQaj7PXz5Dq7AEGi_69">
										</script>
										<noscript>
											<iframe src="http://www.google.com/recaptcha/api/noscript?k=6LeDDLsSAAAAAEd_PN6diNQaj7PXz5Dq7AEGi_69" height="300" width="500" frameborder="0"></iframe><br>
											<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
											<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
										</noscript>
										<!-- end captcha code-->
									</li>
								</ul>
								<div class="btn-submit">
									<input class="redbutton" type="submit" value="SAY IT." />
								</div>
								<input type="hidden" name="next" value="{{ request.path }}"/>
								{{ xsrf_form_html() }}
							</fieldset>
						</form>
						{% for alert in alerts %}
						    <em>{{ alert }}</em>
						{% end %}

					</div>
				</div>
			</div>
			<!-- footer -->
			<div id="footer">
				<p>(C) 2010 I'm Everyone. </p>
			</div>
		</div>
	</div>
	{% block endofbody %}
	{% end %}
</body>
</html>
