<!DOCTYPE HTML>
<html lang="en">
<head>
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ pagetitle }} - Anonymous Problems, Confessions and Discussions on I'm Everyone</title>
	<meta name="Description" content="{% block description %}{{ heading }}{% end %}">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="user-scalable=yes, width=device-width" />
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">	
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}" />
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/opacity.css") }}" />
	<!--[if lt IE 8]>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/styleielt8.css") }}" media="screen"/>
	<![endif]-->

	{% block css %}
	{% end %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" ></script>	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" ></script>
	
	{% block js %}
	{% end %}
	<script type="text/javascript" src="{{ static_url("js/input-type-file.js") }}" ></script>
	<script type="text/javascript" src="{{ static_url("js/hyphenate.js") }}" ></script>
	<script type="text/javascript">
		Hyphenator.run();
	</script>
	<script type="text/javascript">
	var RecaptchaOptions = {
		theme : 'custom',
    	custom_theme_widget: 'recaptcha_widget',
		tabindex : 2
	};
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			// Show feedback when form submitted	
			$('#somethingtosay').submit(function() {
				ajaxloader = $('<div id="addingpost" class="smallcaps shadow centertext"><h2>Adding your post...</h2><img src="/static/images/ajax-loader.gif" alt="Loading icon" /><p>One moment please</p></div>').hide();
				ajaxloader.appendTo("#sidebarcontents").slideDown();
			});	
			
			// Slidedown message area
			$('#inbox').slideDown('slow');
			$('#inbox').effect("highlight", {'color':'#DDDDCC'}, 3000);
		});
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-2129955-3']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body>
	<div id="wrapper">
		<div class="inner">
			<div id="inbox" class="subtitle">
				This is a simple test. I hope it works!
			</div>	
			<!-- header -->
			<div id="header">
				<h1><a href="/">I'm Everyone</a></h1>				
			</div>
			
			<!-- main -->
			<div id="main">
				
				<div class="about subtitle smallcaps shadow centertext line" id="heading">
					<p> {{ heading }} </p>
				</div>
				
				<!-- navigation -->
				<ul class="nav wideunderscore smallcaps shadow centertext">
					<li><a href="/">Top</a></li>
					<li><a href="/live">Live</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/store">Store</a><sup style=color:#CE0919>New</sup></li>
				</ul>

				<div class="about subtitle smallcaps shadow centertext">
					<p>
						{{ instructions }}
					</p>
				</div>
				
				<div class="twocolumns">
					<!-- content -->					
					{% block mainarea %}
						Default mainarea
					{% end %}
					<!-- sidebar -->
					{% if sidebar %}
						{% include 'submitcontent.html' %}
					{% end %}	
				</div>
			</div>
			<!-- footer -->
			<div id="footer" class="smallcaps centertext">
				<p>© 2010 I'm Everyone. </p>
				<p>{{ witticism }}</p>
			</div>
		</div>
	</div>
	{% block endofbody %}
	{% end %}
	<script type="text/javascript">
	var _sf_async_config={uid:13770,domain:"imeveryone.com"};
	(function(){
		function loadChartbeat() {
			window._sf_endpt=(new Date()).getTime();
			var e = document.createElement('script');
			e.setAttribute('language', 'javascript');
			e.setAttribute('type', 'text/javascript');
			e.setAttribute('src',
				(("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
				"static.chartbeat.com/js/chartbeat.js");
			document.body.appendChild(e);
    	}
	    var oldonload = window.onload;
	    window.onload = (typeof window.onload != 'function') ?
	        loadChartbeat : function() { oldonload(); loadChartbeat(); };
	})();

	</script>
</body>
</html>
