<!-- start captcha code -->
{% if captcha %}
	<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LeDDLsSAAAAAEd_PN6diNQaj7PXz5Dq7AEGi_69">
	</script>
	<noscript>
		<iframe src="http://www.google.com/recaptcha/api/noscript?k=6LeDDLsSAAAAAEd_PN6diNQaj7PXz5Dq7AEGi_69" height="300" width="500" frameborder="0">
		</iframe>
		<br>
		<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
		<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
	</noscript>
{% end %}
<!-- end captcha code-->