{% extends "base.html" %}

{% block css %}
{% end %}

{% block js %}
	<script type="text/javascript" src="{{ static_url("jcollapsible/jCollapsible.min.js") }}" ></script>
	<script type="text/javascript">
		
		$(document).ready(function(){			
			// Toggle creating and destroying an 'addcommentbox' child
			// Live allows us to manipulate DOM elements made even after the document is ready
			// length($(this).parent('.addcommentbox'))
			$('.addcomment').live('click', function(event) {
				if (1 == 1) {
					alert('adding commentbox!')
			      	action = $(this).attr("href");
					content = '<div class="addcommentbox"><form action="'+action+'" method="post"><textarea class="commentinput" name="aboutme"></textarea>{{ xsrf_form_html() }}<input type="submit" value="Post comment" id="opener" class="button" /></form></div>';
					$(this).parent().append(content);	
					event.preventDefault();				
			    } else {
					alert('adding commentbox!')
			      	$(self).closest('.addcommentbox').remove();
			    };
			});
			
				
		    $('#commenttree').collapsible({xoffset:'-10',yoffset:'5'});
		});
		
		
		
		
	</script>


		
{% end %}

{% block mainarea %}

<div class="post">
	<div class="topmessage">
		
		<div class="addcommentbox">DELETEME</div>
		
		<em class="date"><a href="#"> {{message['posttime']}}</a></em>

		{% if 'posttext' in message %}
			<h2><a href="#">{{ escape(message['posttext'])}}</a></h2>
		{% else %}
			<h2><a href="#">No post text</a></h2>
		{% end %}	


		{% if message['intro'] is not None %}  
		    <div class="text-box">
				<a href="#">{{escape (message['intro'])}}</a>
			</div>	    
		{% end %}

		{% if 'embeds' in message %}
			{% for embed in message['embeds'] %}
				{% if 'html' in embed %}
					{{ embed['html'] }}<br/>
				{% end %}	
			{% end %}
		{% end %}
		{% if 'preview' in message %}
			{% if message['preview'] is not None %}
				<div class="visual">
					<a href="#" target="_blank"><img src="{{ message['preview'] }}" alt="image description" /></a>
				</div>
			{% end %}
		{% end %}
	
		<div class="read-more">
			<a href='/discuss/{{message['_id']}}' class="addcomment">
				{% if len(message['comments']) %}
					Add comment...
				{% else %}
					Be the first to comment
				{% end %}	
			</a>
			<div class="rightalign">
				<em><a href="#">{{message['_id']}}</a></em>
			</div>
		</div>	
	</div>
	<div id="commentarea">
		<ul id="commenttree">	
			{% for item in ['foo','bar','in','baz','woo','out','zam'] %}
				{% if item == 'in' %}
					<ul>
				{% elif item == 'out' %}
					</ul>
					</li>
				{% else %}
					<li>
						<div class="comment">
							<div class="commentheading">
								date and stuff
							</div>
							<div class='message'>
								<p>item
								<a href='/reply/{{item}}' class="addcomment">Reply</a>
								</p>
							</div>
						</div>	
					<!-- don't close if there's replies-->	
					{% if not item == 'bar' %}
						</li>
					{% end %}
				{% end %}							
			{% end %}
		</ul>
	</div>
	
</div>
	
{% end %}	

