{% extends "base.html" %}

{% block js %}
	<script type="text/javascript">
		if(window.jQuery){jQuery(function(){
			(function(){ jQuery('.replybutton').bind('click', function(event, ui){setTimeout(function(){var target = jQuery('div.message'); target.after('<div class="commentbox"><p>Add your comment</p></div>')}, 250); event.preventDefault()});})();
		})};
	</script>
{% end %}

{% block mainarea %}
	{% if message['posttext'] %}
		{{ message['posttext'] }}
	{% else %}
		No post text!
	{% end %}	
	{% if len(message['comments']) %}
		{% for comment in message['comments'] %}
			<p>{{ message[comment] }} </p>
			<div class='message'>
				<a href='/reply' class="replybutton">Reply</a>
			</div>
		{% end %}
	{% else %}
		<div class='message'>
			<a href='/reply' class="replybutton">Be the first to comment</a>
		</div>
	{% end %}
	
{% end %}	

