<em class="date">{{ message.prettydate }}</em>

<img class="floatleft" src="/static/images/avatars/{{ message.sessionavatars[message.sessionid] }}.png"/>
	
<div class="posttext">
	<h2>{{ escape(message.headline)}}</h2>

	{% if message.intro %}
	    <div class="text-box hyphenate">
			{{escape (message.intro)}}
		</div>	    
	{% end %}
</div>



{% if message.embedcode is not None %}
	{{ message.embedcode }}
{% end %}

{% if message.preview is not None %}
	<div class="visual">
		<a href="/{{ message.localfile }}" target="_blank"><img src="/{{ message.preview }}" alt="User uploaded image" /></a>
	</div>
{% end %}

<div class="read-more">
    <a href='{{ message.link }}' class="addcomment">
        {% if len(message.comments) %}
            Add comment
        {% else %}
            Be the first to comment
        {% end %}  
    </a>
    <div class="rightalign">
		<fb:like href="http://imeveryone.com{{ message.link }}" show_faces="false" width="450" font="lucida grande"></fb:like>
        <em>{{ message._id }}</em>
    </div>
</div>


