<div class="block">
	<em class="date"><a href="./thread/{{ message['id'] }}"> {{message['posttime']}}</a></em>
	<h2><a href="#">{{ escape(message['posttext'])}}</a></h2>
	{% if message['intro'] %}  
	    <div class="text-box">
				<a href="#">{{escape (message['intro'])}}</a>
		</div>	    
	{% end %}
	
	{% for embed in message['embeds'] %}
		{% if 'html' in embed %}
			{{ embed['html'] }}<br/>
		{% end %}	
	{% end %}
	
	{% if message['preview'] is not None %}
		<div class="visual">
			<a href="./thread/{{ message['id'] }}" target="_blank"><img src="{{ message['preview'] }}" alt="image description" /></a>
		</div>
	{% end %}
	
	<div class="read-more">
		<a class="more" href="./thread/{{ message['id'] }}" target="_blank">Read more...</a>
		<em><a href="#">{{message['threadid']}}</a></em>
	</div>
</div>


