<div class="post">
	<em class="date"><a href="{{ message.link }}"> {{ message.prettydate }} </a></em>
		
	<div class="posttext">
		<h2><a href="/discuss/{{ message._id }}">{{ escape(message.headline)}}</a></h2>
	</div>


	{% if message.intro %}
		<div class="text-box hyphenate">
			<p><a href="{{ message.link }}">
				{{ message.intro.split('NEWLINE')[0] }}
				{% if len(message.intro.split('NEWLINE')) > 1 %}
					<em><span class="smallcaps" style="font-size: 10px;">MORE</span><span style="font-size: 14px;"> &raquo;</span></em>
				{% end %}
			</a></p>
			
		</div>
	{% end %}

	{% if message.embedcode is not None %}
		{{ message.embedcode }}
	{% end %}
	
	{% if message.preview is not None %}
		<div class="visual">
			<a href="{{ message.link }}" target="_blank"><img src="/{{ message.preview }}" alt="User uploaded image" /></a>
		</div>
	{% end %}

	<div class="read-more">
	    <a href='{{ message.link }}' class="more smallcaps"> 
			Read more
			{% if len(message.comments) > 1 %}
				({{ message.treecount }} comments)
			{% elif len(message.comments) == 1 %}
				(1 comment)
			{% end %}
			&raquo;
		</a>
		
	    <div class="rightalign">
	        <em>{{ message._id }}</em>
	    </div>
	</div>
	
</div>


