{% extends "base.html" %}

<!-- need to modify title and description  -->

{% block css %}
{% end %}

{% block js %}
{% end %}

{% block mainarea %}


	<div id="contentwide">
		<!-- main-block -->		
		<div id="messages">
			<h1 class="smallcaps">
				Oh dear. We can't find that.
			</h1>			
		
			<p>Hi there. </p>
		
			<p>Some bad news: we can't find what whatever it is that you are looking for at '<em>{{ badurl }}</em>' </p>

			<p>It might be our doing - we get rid of some less interesting posts. Also, we do mess up from time to time. Sorry!</p>

			<p>Alternatively, you may have made a typo, or be looking for something that just isn't here. 	</p>

			<p>But that's OK! Just go home and check out the new stuff, or see our top comments. You'll find something way more interesting. </p>
		
			<p>Thanks for your patience!</p>

		
			<p>I'm Everyone Staff.</p>
		

		</div>
		<!-- block -->
	</div>


	
{% end %}	



