<div id="sidebar">
	<div id="sidebarcontents">	
		<h3>{{ prompt1 }}<span>{{ prompt2 }}</span></h3>
		
		<div class="about subtitle smallcaps"><img src="/static/images/littleline.png" />Say it to <strong>{{ usercount }}</strong> people instantly.<img src="/static/images/littleline.png" /></div>
		<!-- form form-write-us -->
		<form enctype='multipart/form-data' method='post' action='/a/message/new' id="somethingtosay">
			<!-- alerts if any -->
			<div alerts>
				{% if len(alerts) %}
					<div id='alerts'>
						<p>{{ alerts[0] }}</p>
					</div>	
				{% end %}
			</div>
			<!-- end alerts-->
			<fieldset>
				<ul>
					<li>
						<label for="textarea">1. Write it here</label>
						<div class="container">
							<div class="text-field">
								<textarea id="textarea"  name='posttext' cols="20" rows="10">{{ textprefill }}</textarea>
							</div>
						</div>
					</li>
					<li>
						<div class="file">
							<span class="num">2.</span>
							<div class="submit">
								<a href="#" class="button">Pick File</a>
								<input class="file-input-area" name='image' type="file" size="19" value="Browse..." />
							</div>
							<input type="text" value="" class="browse" />
						</div>
						<span class="info">Or include a video link in your text above</span>
					</li>
					<li>
						<!-- start captcha areas -->
						<div id="recaptcha_widget" style="display:none">
							<label for="input-text">
								<span class="recaptcha_only_if_image">3. Type these words</span>
								<span class="recaptcha_only_if_audio">3. Type the numbers you hear</span>
							</label>
							<div id="recaptcha_indent">
								<div id="recaptcha_image"></div>
								<div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
							
								<div id="captchabuttons">
									<div>
										<a href="javascript:Recaptcha.reload()">
											<img src="/static/images/recreload.gif" alt="Get another CAPTCHA"/>
										</a>
									</div>
							
									<div class="recaptcha_only_if_image">
										<a href="javascript:Recaptcha.switch_type('audio')">
											<img src="/static/images/recaudio.gif" alt="Get an audio CAPTCHA"/>
										</a>
									</div>
									<div class="recaptcha_only_if_audio">
										<a href="javascript:Recaptcha.switch_type('image')">
											<img src="/static/images/rectext.gif" alt="Get an image CAPTCHA"/>
										</a>
									</div>
									<div>
										<a href="javascript:Recaptcha.showhelp()">
											<img src="/static/images/rechelp.gif" alt="Help"/>
										</a>
									</div>
								</div>
							
								<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
							</div>
						</div>
						<!-- end captcha areas -->
						{% include 'captcha.html' %}
					</li>
				</ul>
				<div class="btn-submit">
					<input class="redbutton" type="submit" value="SAY IT." />
				</div>
				<input type="hidden" name="next" value="{{ request.path }}"/>
				{{ xsrf_form_html() }}
			</fieldset>
		</form>

	</div>
</div>