{% extends "base.html" %}

{% block mainarea %}
	<div id="content">
		<!-- main-block -->		
		<div id="messages">
			{% if len(topmessages) == 0 %}
				<p>{{ emptydb }}</p>
			{% else %}
				{% for message in topmessages %}
					{% include 'topmessage.html' %}			
				{% end %}
				
				<div class="read-more smallcaps nav">
					{% if page < 5 %}
				    	<a href="/page/{{ page + 1 }}" style="text-decoration: underline;"><span style="font-size: 24px;">&laquo;</span> OLDER</a>
					{% end %}
					
					{% if page >= 2 %}	
					    <div class="rightalign">
							{% if page == 2 %}
								<a href="/" style="text-decoration: underline;">NEWER <span style="font-size: 24px;">&raquo;</span></a>
							{% elif page <= 5 %}
								<a href="/page/{{ page - 1 }}" style="text-decoration: underline;">NEWER <span style="font-size: 24px;">&raquo;</span></a>
							{% end %}
					    </div>
					{% end %}

				</div>
				
			{% end %}
		</div>
		<!-- block -->
	</div>
{% end %}	
